@import './base/common';
@import './utils/variables';
@import './components/container';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/contacts';
@import './layout/footer';