:root {
  --text-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;
  --hero-background: #FFB8CA;
  --hero-main_color: #D41443;
  --hero-tittle_color: #ECEBEB;
  --products-background: #E5E5E5;
  --about-background: #FFF5F6;
  --list-style: none;
}