<div class="contacts">
    <div class="container contacts__background">
        <h2 class="contacts__title">Contacts</h2>
        <ul class="contacts__grid">
            <li class="contacts__tile">
                <ul>
                    <li class="contacts__category1">CAFE</li>
                    <li class="contacts__place">
                        <p class="contacts__city">Chicago</p>
                        <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__open">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__hour contacts__hour1">06:00 AM - 10:00 PM</p>
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__hour">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__communication">
                        <p class="contacts__tel-mail">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="contacts__tile">
                <ul>
                    <li class="contacts__category2">FOODTRUCK</li>
                    <li class="contacts__place">
                        <p class="contacts__city">Los Angeles</p>
                        <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__open">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__hour contacts__hour1">06:00 AM - 10:00 PM</p>
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__hour">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__communication">
                        <p class="contacts__tel-mail">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="contacts__tile">
                <ul>
                    <li class="contacts__category1">CAFE</li>
                    <li class="contacts__place">
                        <p class="contacts__city">New York</p>
                        <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__open">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__hour contacts__hour1">06:00 AM - 10:00 PM</p>
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__hour">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__communication">
                        <p class="contacts__tel-mail">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
        </ul>
        <div>
            <ul class="contacts__buttons">
                <li><button class="contacts__btn">
                        <ul class="contacts__btn-grid">
                            <li class="contacts__btn-text">Our Locations</li>
                            <li>
                                <svg class="contacts__btn-icon" width="6" height="12">
                                    <use href="./images/footer/icons.svg#icon-next"></use>
                                </svg>
                            </li>
                        </ul>
                    </button></li>
                <li><button class="contacts__btn">
                        <ul class="contacts__btn-grid">
                            <li class="contacts__btn-text">Franchise</li>
                            <li>
                                <svg class="contacts__btn-icon" width="6" height="12">
                                    <use href="./images/footer/icons.svg#icon-next"></use>
                                </svg>
                            </li>
                        </ul>
                    </button></li>
            </ul>
        </div>
    </div>
</div>