<section class="gallery">
    <div class="container--gallery">
        <img
            atl="gallery" 
            src="./images/gallery/gallery_mobile_w364.png"
            srcset="
                ./images/gallery/gallery_mobile_w364.png 364w,
                ./images/gallery/gallery_tablet_w786.png 786w,
                ./images/gallery/gallery_desktop_w1280.png 1280w
                "
            sizes="(min-width: 1280px) 1280px, (min-width: 768px) 786px, (min-width: 320px) 364px, 100vw"
        >
    </div>
</section>