<section class="hero__header">
  <div class="container">
    <div class="circle"></div>

    <!-- -----HEADER----- -->

    <header class="header">
      <img src="./images/hero/logo.png" alt="logo" class="logo">
      <button mobile-menu-open type="button" class="menu__button">
        <svg class="menu__icon" width="24" height="16">
          <use href="./images/footer/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </header>

    <!-- -----HERO----- -->

    <section class="hero">

      <div class="hero__header">
        <div class="header__wrapper">
          <h1 class="hero__tittle">Ice cream made with <span class="hero__tittle--red">passion</span>
          </h1>
          <div class="hero__btn">
            <button class="btn btn--red">Products</button>
            <button class="btn btn--white">How it's made?</button>
          </div>
        </div>
        <img alt="ice cream" src="./images/hero/ice-cream-mobile.png" class="hero__img" srcset="
                ./image/ice-cream-mobile.png,
                ./image/ice-cream-tablet.png,
                ./image/ice-cream236x557.png
                " sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 364px, 100vw">
      </div>
    </section>