<section class="products" id="products">
  <div class="container">
    <a id="products" class="products__label">100% natural</a>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--first-child">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et</p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/products/arrow-right.svg#image0"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second-child">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et</p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/products/arrow-right.svg#image0"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third-child">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et</p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/products/arrow-right.svg#image0"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>