<section class="reviews">
    <div class="container">
        <img class="reviews__gallery" alt="Emily" src="./images/reviews/customer.png"
            srcset="./images/reviews/customer.png, ./images/reviews/customer@2x.png, ./images/reviews/customer.webp, ./images/reviews/customer@2x.webp_2x">
        <h4 class="reviews__opinion">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
            In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</h4>
        <p class="reviews__name">Emily, Los Angeles</p>
    </div>
</section>