.about {
    background-color: var(--about-background);
    padding-top: 125px;
    padding-bottom: 145px;
    background-image: url('/images/about/about_bg_mobile_w280.png');
    background-repeat: no-repeat;
    background-position: absolute;
    top: 766px;
    left: 0px;
}
.about__label {
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #FFA5BA;
    margin-bottom: 15px;
}
.about__title {
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.145;
    letter-spacing: 4%;
    color: #D41443;
    margin-bottom: 26px;
}
.about_img {
    margin-bottom: 46px;
}
.about__description {
    width: 220px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.62;
    color: #000000;
    margin-bottom: 35px;
}
.about__description--color {
    color: #907E82;
    margin-bottom: 12px;
}