.advantages {
    background-color: var(--about-background);
    padding-top: 20px;
    padding-bottom: 145px;
}
.advantages__list {
    display: flex;
    flex-wrap: wrap;
}
.advantages__item {
    width: 230px;
    height: 156px;
    display: flex;
    flex-direction: column;
}
.advantages__head {
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4%;
    color: #D41443;
}
.advantages__description {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    color: #000000;
}
