.contacts{
    background-image: linear-gradient(
    to bottom,
    #fff 7.31%,
    #FFF5F6 3.31%,
    #FFF5F6 92.69%);
    padding: 30px 0px 0px 50px ;
    &__title{
        display: none;
    }
    &__tile{
        padding: 43px 21px;
        width: 220px;
        height: 427px;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        background-color: #FFF;
    }
    &__tile:not(:first-child){
        margin-top: 20px;
    }
    &__category1{
        font-family: 'dm sans';
        color: #FFF;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        width: 80px;
        height: 16px;
        background-color: #F0D1A5;
        border-radius: 4px;
        padding-top: 2px;
        margin-bottom: 25px;
    }
    &__category2{
        font-family: 'dm sans';
        color: #FFF;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        width: 130px;
        height: 16px;
        background-color: #C2E297;
        border-radius: 4px;
        padding-top: 2px;
        margin-bottom: 25px;
    }
    &__city{
        font-family: 'dm sans';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.86;
        margin-bottom: 10px;
    }
    &__city-text{
        font-family: 'dm sans';
        font-size: 12px;
        font-weight: 500;
        color: #907E82;
        width: 179px;
        line-height: 1.5;
        text-align: left;
        margin-bottom: 25px;
    }
    &__open{
        padding: 25px 0px;
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
    }
    &__day{
        font-family: 'DM Sans';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.833;
        text-align: left;
    }
    &__hour{
        font-family: 'DM Sans';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.833;
        text-align: left;
        color: #FFA5BA;
    }
    &__hour1{
        padding-bottom: 10px;
    }
    &__tel-mail{
        font-family: 'DM Sans';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: #907E82;
        width: 179px;
    }
    &__communication{
        padding: 25px 0px;
    }
    &__buttons{
        margin-top: 54px;
    }
    &__btn{
        width: 161px;
        height: 44px;
        border-radius: 22px;
        color: #d41443;
        align-items: center;
        background-color: #FFF;
        stroke: #d41443;
        border: none;
        fill: #FFF;
        margin-left: 29px;
    }
    &__btn:hover{
        color: #FFF;
        background-color: #d41443;
        fill: #d41443;
        stroke: #FFF
    }
    &__btn-grid{
        justify-content: space-evenly;
        align-items: center;
        display: flex;
    }
    &__btn-text{
        font-family: 'DM Sans';
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3125;
        text-align: center;
    }
    &__btn:nth-child(1){
        margin-bottom: 10px;
    }   
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .contacts{
        padding: 30px 0 0 0;
        background-image: linear-gradient(
            to bottom,
            #fff 14.8%,
            #FFF5F6 14.8%,
            #FFF5F6 85.2%);
        &__grid{
            display: flex;
        }
        &__tile:not(:first-child){
            margin-top: 0px;
        }
        &__tile:not(:last-child){
            margin-right: 20px;
        }
        &__tile{
            padding: 50px 31px;
            width: 220px;
            height: 544px;
        }
        &__category1{
            font-size: 16px;
            text-align: center;
            width: 73px;
            height: 28px;
            border-radius: 4px;
            padding-top: 6px;
            margin-bottom: 30px;
        }
        &__category2{
            font-size: 16px;
            text-align: center;
            width: 138px;
            height: 28px;
            border-radius: 4px;
            padding-top: 6px;
            margin-bottom: 30px;
        }
        &__city{
            font-family: 'dm sans';
            font-size: 14px;
            font-weight: 500;
            line-height: 1.86;
            margin-bottom: 14px;
        }
        &__city-text{
            font-family: 'dm sans';
            font-size: 14px;
            font-weight: 500;
            color: #907E82;
            width: 145px;
            line-height: 1.66;
            text-align: left;
            margin-bottom: 30px;
        }
        &__open{
            padding: 30px 0px;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
        }
        &__day{
            font-family: 'DM Sans';
            font-size: 14px;
            font-weight: 500;
            line-height: 1.857;
            text-align: left;
        }
        &__hour{
            font-family: 'DM Sans';
            font-size: 14px;
            font-weight: 500;
            line-height: 1.857;
            text-align: left;
            color: #FFA5BA;
        }
        &__hour1{
            padding-bottom: 16px;
        }
        &__tel-mail{
            font-family: 'DM Sans';
            font-size: 14px;
            font-weight: 500;
            line-height: 1.83;
            text-align: left;
            color: #907E82;
            width: 157px;
        }
        &__buttons{
            display: flex;
            justify-content: center;
            margin-top: 81px;
        }
        &__btn{
            width: 190px;
            height: 44px;
            border-radius: 22px;
            align-items: center;
            border: none;
            margin-left: 0px;
        }
        &__btn:nth-child(1){
            margin-right: 14.5px;
        }
    }
}
@media screen and (min-width: 1200px){
    .contacts{
        padding: 30px 0 0 0;
        background-image: linear-gradient(
            to bottom,
            #fff 17%,
            #FFF5F6 17%,
            #FFF5F6 83%);
        &__background{

            background-image: url('/images/background.jpg');
            z-index: 2;
        }
        &__grid{
            display: flex;
        }
        &__tile:not(:first-child){
            margin-top: 0px;
        }
        &__tile:not(:last-child){
            margin-right: 31px;
        }
        &__tile{
            padding: 51px 44px 61px 44px;
            width: 330px;
            height: 572px;
        }
        &__category1{
            font-size: 16px;
            text-align: center;
            width: 73px;
            height: 28px;
            border-radius: 4px;
            padding-top: 6px;
            margin-bottom: 30px;
        }
        &__category2{
            font-size: 16px;
            text-align: center;
            width: 138px;
            height: 28px;
            border-radius: 4px;
            padding-top: 6px;
            margin-bottom: 30px;
        }
        &__city{
            font-family: 'dm sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.86;
            margin-bottom: 10px;
        }
        &__city-text{
            font-family: 'dm sans';
            font-size: 16px;
            font-weight: 500;
            color: #907E82;
            width: 243px;
            line-height: 1.66;
            text-align: left;
            margin-bottom: 32px;
        }
        &__open{
            padding: 32px 0px;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
        }
        &__day{
            font-family: 'DM Sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.857;
            text-align: left;
        }
        &__hour{
            font-family: 'DM Sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.857;
            text-align: left;
            color: #FFA5BA;
        }
        &__hour1{
            padding-bottom: 15px;
        }
        &__tel-mail{
            font-family: 'DM Sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.83;
            text-align: left;
            color: #907E82;
            width: 243px;
        }
        &__buttons{
            display: flex;
            justify-content: center;
            margin-top: 86px;
        }
        &__btn{
            width: 190px;
            height: 44px;
            border-radius: 22px;
            align-items: center;
            border: none;
            margin-left: 0px;
        }
        &__btn:nth-child(1){
            margin-right: 15px;
        }
    }
}