.gallery {
    background-image: linear-gradient(
        to bottom,
        #FFF5F6 39%,
        #E5E5E5 39%,
        #E5E5E5 61%
    );
    background-repeat: no-repeat;
    background-size: cover;
}
