.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.logo {
  width: 199px;
  height: 50px;
}

.menu {
  &__button {
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background: var(--hero-background);
  }

  &__icon {
    top: 25px;
    right: 20px;
    width: 100%;
    height: 100%;
    fill: var(--hero-main_color);
    cursor: pointer;
  }

}