.products{
    padding-top: 121px;
    padding-bottom: 98px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.products__label{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.166;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    height: 21px;
}
.products__title{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.147;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-top: 15px;
    margin-bottom: 144px;
}
.products__list{
    list-style: none;
    align-items: center;
    padding: 0;
}
.products__item{
    border-radius: 24px;
    min-height: 485px;
    min-width: 280px;
    margin-bottom: 130px;
}
.products__item--first-child{
    background: #FFB8CA;
}
.products__item--first-child::before{
    content: "";
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(/images/products/products_mobile1.png);
    background-repeat: no-repeat;
    margin-top: -112px;
}
.products__item--second-child{
    background: #F0D1A5;
}
.products__item--second-child::before{
    content: "";
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(/images/products/products_mobile2.png);
    background-repeat: no-repeat;
    margin-top: -113px;
}
.products__item--third-child{
    background: #C2E297;
    margin-bottom: 0;
}
.products__item--third-child::before{
    content: "";
    display: inline-block;
    width: 249px;
    height: 252px;
    background-image: url(/images/products/products_mobile3.png);
    background-repeat: no-repeat;
    margin-top: -113px;
}
.products__name{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 30px;
    position: relative;
    margin-top: 22px;
    margin-bottom: 0;
}
.products__name::after{
    content: "";
    display: inline-block;
    width: 26px;
    height: 6px;
    background-image: url(/images/products/group.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 45%;
}
.products__description{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 30px 39px 40px 41px;
    margin: 0;
}
.products__btn{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 41px;
}

  @media screen and (min-width: 768px){
      .products__list{
          display: flex;
      }
      .products__item{
          margin-right: 20px;
          margin-bottom: 0;
          min-height: 480px;
          min-width: 220px;
      }
      .products__item--third-child{
          margin-right: 0;
      }
      .products__item--first-child::before{
        content: "";
        display: inline-block;
        width: 220px;
        height: 226px;
        background-image: url(/images/products/products_tablet1.png);
        margin-top: -104px;
      }
      .products__item--second-child::before{
        content: "";
        display: inline-block;
        width: 220px;
        height: 233px;
        background-image: url(/images/products/products_tablet2.png);
        margin-top: -111px;
      }
      .products__item--third-child::before{
        content: "";
        display: inline-block;
        width: 220px;
        height: 224px;
        background-image: url(/images/products/products_tablet3.png);
        margin-top: -102px;
        }
        .products__name{
            margin-top: 30px;
        }
        .products__description{
            padding: 30px 11px 40px 11px;
        }
    }

  @media screen and (min-width: 1280px){
    .products__item{
          margin-right: 29px;
          margin-bottom: 0;
          max-height: 330px;
          max-width: 525px;
      }
      .products__item--third-child{
          margin-right: 0;
      }
      .products__item--first-child::before{
        content: "";
        display: inline-block;
        width: 335px;
        height: 335px;
        background-image: url(/images/products/products_desktop1.png);
        margin-top: -210px;
      }
      .products__item--second-child::before{
        content: "";
        display: inline-block;
        width: 337px;
        height: 335px;
        background-image: url(/images/products/products_desktop2.png);
        margin-top: -210px;
      }
      .products__item--third-child::before{
        content: "";
        display: inline-block;
        width: 335px;
        height: 335px;
        background-image: url(/images/products/products_desktop3.png);
        margin-top: -210px;
        }
        .products__label{
        font-size: 30px;
        }
        .products__title{
        margin-bottom: 259px;
        font-size: 58px;
        }
        .products__name{
        font-size: 30px;
        margin-top: 38px;
        }
        .products__description{
        font-size: 16px;
        padding: 32px 44px 62px 44px;
        }
        .products__btn{
            margin-bottom: 50px;
        }
  }
