.revievs{
    padding-top: 80px;
    padding-bottom: 56px;
    // 86-30=56
}
.reviews__gallery{
    display: block;
    width: 85px;
    height: 85px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}
.reviews__opinion{
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 255%;
text-align: center;
color: #000000;
padding: 43px 66px 26px 57px;
position: relative;
margin-top: 0;
margin-bottom: 30px;
background-image: repeating-linear-gradient(#E1E1E1 0px 1px, transparent 1px 31px,);
}
.reviews__name{
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 186%;
text-align: center;
color: #000000;
padding-top: 18px;
position: relative;
margin: 0;
}
.reviews__opinion::before{
    content: "";
    display: inline-block;
    width: 54px;
    height: 40px;
    background-image: url(/images/reviews/quote.png);
    position: absolute;
    z-index: -1;
}
.reviews__name::before{
    content: "";
    display: inline;
    width: 32px;
    height: 4px;
    background-image: url(/images/reviews/dots.png);
    position: absolute;
    background-repeat: no-repeat;
    top:0%;
    left: 45%;
}
.reviews__name::after{
    content: "";
    display: block;
    width: 72px;
    height: 12px;
    background-image: url(/images/reviews/dots2.png);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
@media screen and (min-width: 768px){
    .reviews__gallery{
        margin-bottom: 19px;
    }
    .reviews__opinion{
        min-width: 620px;
        min-height: 164px;
        padding: 47px 80px 34px 80px;
        margin-bottom: 24px;
        background-image: repeating-linear-gradient(#E1E1E1 0px 1px, transparent 1px 30px,);
    }
    .reviews__name{
        padding-top: 14px;
    }
    .reviews__name::before{
        left: 48%;
    }
    .reviews__name::after{
        margin-top: 35px;
    }
}
@media screen and (min-width: 1280px){
    .reviews__gallery{
        margin-bottom: 15px;
    }
    .reviews__opinion{
        height: 138px;
        font-size: 16px;
        line-height: 186%;
        padding: 47px 89px 39px 87px;
        margin-bottom: 15px;
        }
    .reviews__name{
        padding-top: 15px;
        font-size: 20px;
        line-height: 186%;
    }
}