.revievs{
    padding-top: 80px;
}
.reviews__gallery{
    display: block;
    width: 85px;
    height: 85px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}
.reviews__opinion{
font-family: var(--text-font);
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 255%;
text-align: center;
color: #000000;
// padding: 43px 66px 26px 57px;
position: relative;
margin-top: -315px;
margin-bottom: 52px;
margin-left: 57px;
margin-right: 66px;
z-index: 999;
background: repeating-linear-gradient(transparent 0rem 29px, #E1E1E1 29px 30px);
}
.reviews__bcg{
padding-bottom: 30px;
width: 100%;
height: 350px;
}
.reviews__name{
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 186%;
text-align: center;
color: #000000;
padding-top: 18px;
position: relative;
margin: 0;
}
.reviews__opinion::before{
    content: "";
    display: inline-block;
    width: 54px;
    height: 40px;
    background-image: url(/images/reviews/quote.png);
    position: absolute;
    top: -16px;
    left: -1px;
    z-index: -1;
}
.reviews__name::before{
    content: "";
    display: inline;
    width: 32px;
    height: 4px;
    background-image: url(/images/reviews/dots.png);
    position: absolute;
    background-repeat: no-repeat;
    top:0%;
    left: 45%;
}
.reviews__name::after{
    content: "";
    display: block;
    width: 72px;
    height: 12px;
    background-image: url(/images/reviews/dots2.png);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 56px;
}
@media screen and (min-width: 480px){
// .reviews__bcg{
//     width: 100%;
//     height: 180px;
//     }
.reviews__opinion{
    margin-top: -320px;
    margin-bottom: 70px;
    }
.reviews__name::before{
        left: 47%;
    }
}
@media screen and (min-width: 768px){
    .reviews__gallery{
        margin-bottom: 19px;
    }
    .reviews__bcg{
    height: 164px;
    }
    .reviews__opinion{
        width: 460px;
        margin-top: -140px;
        margin-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }
    .reviews__opinion::before{
    left: -40px;
    }
    .reviews__name{
        padding-top: 14px;
    }
    .reviews__name::before{
        left: 48%;
    }
    .reviews__name::after{
        margin-top: 35px;
    }
}
@media screen and (min-width: 1280px){
    .reviews__gallery{
        margin-bottom: 15px;
    }
    .reviews__bcg{
        width: 100%;
        height: 100%;
    }
    .reviews__opinion{
        width: 750px;
        font-size: 16px;
        margin-top: -135px;
        margin-bottom: 60px;
        background: repeating-linear-gradient(transparent 0rem 29px, #E1E1E1 29px 30px);
        }
    .reviews__name{
        padding-top: 15px;
        font-size: 20px;
        line-height: 186%;
    }
    .reviews__name::before{
        left: 49%;
    }
}